* {
    margin: 0px;
    padding: 0px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}
#main {
    width: 100%;
    background-color: #f6f6ee;
}

/*  ##########  Header Section #############  */
#header {
    /*background-color:thistle;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 8vh;
    height: 15vh;

}
#header span {
    font-weight:900;
}
#header h1 {
    font-weight: 400;
}
ul {
    
    list-style-type: none;
}
ul li {
    display: inline;
    padding: 1vh 2vh;
    cursor: pointer;
    margin: 0px 3vh;
    font-weight: 500;
    font-size: 18px;
}
.links {
    text-decoration: none;
    color: black;
}

/*  ############  Content section  ###########*/
#content {
    width: 100%;
    margin-top: 6vh;
    display: flex;
    /*background-color: bisque;*/
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#content h1 {
    font-family: "PlayFair Display";
    font-size: 42px;
}
#content p {
    text-align: center;
    width: 50%;
    margin: 4vh 0px;
    font-size: 22px;
}
#content button {
    padding: 9px 32px;
    background-color: black;
    border-radius: 100px;
    color: white;
    font-size: 20px;
    cursor: pointer;
}
 /* ################ Illustration ############## */
#illus {
    width: 100%;
}
#illus img{
    width: 100%;
}
/* ##############  Footer Content ############# */
#fcontent {
    width: 100%;
    display: flex;
    margin-top: 50px;
    justify-content:space-between;
    padding: 0 5vh;
}
#cleft {
    width: 48%;
    border-right: 2px solid black;
    text-align: right;
    padding-right: 7vh;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}
#cleft p {
    width: 40%;

}
#cright {
    width: 48%;
    text-align: left;
    padding-right: 7vh;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}
#cright p {
    width: 40%;
}
.crimg {
    display: flex;
    gap: 4vh;

}
.line {
    width: 5%;
    height: 2px;
    background-color: black;
    margin: 4vh 0;
}
.fc-icon {
    width: 8%;
    padding-top: 1vh;
    height: 22%;
}